/**/
.field--type-entity-reference.field--name-field-folders.field--widget-term-reference-fancytree,
.field--type-entity-reference.field--name-field-tags.field--widget-term-reference-fancytree {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid #e6e6e6;
}

.a-menu {
    display:inline-block; 
    width:8px; 
    text-align:center; 
    cursor:pointer; 
    padding:5px 9px;
    position:relative;
    background-color: #eee;
    border: 1px solid #ddd;
}
.a-menu .list{
    display:none;
    position: absolute;
    top:20px;
    right: 0px;
    z-index: 1;
    background-color: #eee;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    
}
.a-menu:hover .list{
    display: block;
}
.a-menu .list-item{
    font-size: 13px;
    font-weight: 400;
    color: #000;
    text-align: left;
    white-space: nowrap;
    padding: 3px 10px;
}
.a-menu .list-item:hover{ background-color: #ddd;}
.a-menu {}
.a-menu {}
.a-menu {}
.a-menu {}
